<p id="notice"><%= notice %></p>

<div class="container">
  <% @posts.each do |post| %>
    <div class="col s12 m7">
      <h3 class="header"><%= post.title %></h3>
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p><%= post.body %></p>
          </div>
          <div class="card-action">
            <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
          </div>
          <div class="card-action">
            <a><%= link_to 'Read More...', post %></a>
          </div>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <a><%= link_to 'Edit', edit_post_path(post), class: "waves-effect waves-light btn" %></a>
      <a><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red darken-4" %></a> 
    <% end %>
  <% end %>
</div>