<p id="notice"><%= notice %></p>


<div class="container">
	<div class="row">
		<%= image_tag @post.image.url, class: "materialboxed" %>
		<h3><%= @post.title %></h3>
		<p><%= @post.body %></p>
		<%= link_to 'Edit', edit_post_path(@post), class: "waves-effect waves-light btn" %> |
		<%= link_to 'Back', posts_path, class: "waves-effect waves-light btn" %>
	</div>
	<div class="row">
		<h5>
			<i class="material-icons prefix">comment</i>
			<%= @post.comments.count %> Comments	
		</h5>	
	</div>
	<%= render @post.comments %>
	<%= render "comments/form" %>
</div>


  







