<!DOCTYPE html>
<html>
	<head>
		  <title>Ahmed Lekssays's Blog</title>
	  	  <meta name="viewport" content="width=device-width, initial-scale=1"> 
		  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
		  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>
	</head>
	<body>
	  <nav>
	    <div class="nav-wrapper cyan darken-4">
	      <a href="#" class="brand-logo">Ahmed Lekssays's Blog</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="#">About</a></li>
	        <% if user_signed_in? %>
			<li><a><%= link_to 'New Post', new_post_path , class: "waves-effect waves-light btn" %></a> </li> 
			<% end %>
			<% if user_signed_in? %>
			<li><%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "waves-effect waves-light btn red darken-4" %></li>
			<% else %>
			<li><%= link_to "Sign up",  new_user_registration_path, class: "waves-effect waves-light btn" %></li>
			  <li>
  				<%= link_to "Login", new_user_session_path, class: "waves-effect waves-light btn"  %>  
  		      </li>
			<% end %>

	      </ul>
	    </div>
	  </nav>	
	  <%= yield %>
	</body>
	<footer class="page-footer cyan darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Ahmed Lekssays</h5>
                <p class="grey-text text-lighten-4">Student interested in Algorithms, Open-source projects, and Security.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Networks</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Linked In</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Ahmed Lekssays -- Made with Love
            </div>
          </div>
        </footer>
</html>
